<h1>Welcome to Songs</h1>
<h4> Add your songs below</h4>
<form method="post" action="/songs">
<label for="name"> Song Name:</label>
<input type="text" id="name" name="name"><br><br>
<label for="artist"> Artist Name:</label>
<input type="text" id="artist" name="artist_name"><br><br>

<% Genre.all.each do |genre| %>
  <%= genre.name %>: <input id="<%= genre.name %>" type="checkbox" name="genres[]" value="<%= genre.id %>">
<% end %><br><br>

<input type="submit" value="submit">
</form>